<div class="content">
    <nav class="nav-bar">
        <a routerLink="" class="logo">
            <img src="../../../assets/logo-small.png" alt="Company Logo">
        </a>
        <a class="login" mat-button routerLink="/login">Login</a>
    </nav>
    <div class="company-simple-info background-effect background-test">
        <div class="name">
            <div class="content">
                <h1>Krystal</h1>
                <h3>The site to reserve your place to stay!</h3>
                <div class="buttons">
                    <button routerLink="/register"  class="button contact" mat-raised-button color="primary">Register</button>
                    <button routerLink="/login" class="button learn" mat-raised-button color="warn">Login</button>
                </div>
            </div>
        </div>
        <div class="image-container">
            <div class="image">
                <img src="../../../assets/logo.png" alt="Company Image">
            </div>
        </div>
    </div>
    <div class="cards">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Reservations</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/reservation.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Reserve condos for your own use while you are on vacation
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Register condos</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/condos.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Register condos so that customers can reserve them
                </p>
            </mat-card-content>
        </mat-card>
        <mat-card class="card" >
            <mat-card-header>
                <mat-card-title>Ticket reservation</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../assets/plane-tickets.png" height="300" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    Automaticaly reserve plane tickets for yourself when you reserve a condo
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>