.content {
    height: 100%;

    .inputs {
        padding-left: 20px;
        padding-right: 20px;

        mat-form-field {
            padding-top: 3%;
            width: 100%;

            input {
                color: var(--primary-color);
                font-size: 1.2rem;
                font-weight: 400;
            }

            &::ng-deep {
                .mdc-text-field--filled:not(.mdc-text-field--disabled) {
                    background-color: transparent;
                }
            }
        }

        .inline-items {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }
    }

    .card-container {
        display: flex;
        justify-content: center;
        height: 10vh;
        margin-top: 1%;

        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            background-color: #FFD95A;
            border-radius: 20px;
            box-shadow: 4px 4px 4px rgba(78, 78, 78, 0.5);
            height: 100%;
            font-size: 1.4rem;
            font-weight: 500;
        }
    }

    .buttons {
        height: 100%;
        display: flex;
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 5%;
        padding-bottom: 10px;
        gap: 20px;

        button {
            width: 100%;
            background-color: var(--accent-color);
        }

        .delete-button {
            background-color: #b70707 !important;
        }
    }
}

::ng-deep {
    .mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
        color: var(--primary-color);
    }

    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__leading,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__notch,
    .mdc-text-field--outlined:not(.mdc-text-field--disabled).mdc-text-field--focused .mdc-notched-outline__trailing {
        border-color: var(--primary-color);
    }
}