<div class="content">
    <div class="image-container">
        <div class="image">
            <img src="../../../assets/logo.png" alt="Company Image">
        </div>
    </div>
    <div class="login-container">
        <h5>Please enter your credentials</h5>
        <div class="inputs">
            <mat-form-field appearance="outline">
                <mat-label>Enter your username</mat-label>
                <input [(ngModel)]="this.signUpRequest.username" matInput placeholder="Username">
            </mat-form-field>
            <div class="password">
                <mat-form-field appearance="outline">
                    <mat-label>Enter your password</mat-label>
                    <input [(ngModel)]="this.signUpRequest.password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm your password</mat-label>
                    <input [(ngModel)]="this.conformationPassword" matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline">
                <mat-label>Choose Role</mat-label>
                <mat-select [(ngModel)]="this.signUpRequest.isHost" matNativeControl title="Roles">
                    <mat-option [value]="false">Guest</mat-option>
                    <mat-option [value]="true">Host</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="SignUp()" >Register</button>
        </div>
    </div>
</div>