<div class="content">
    <div class="tabs">
      <mat-tab-group [selectedIndex]="0" class="remove-border-bottom">
        <mat-tab>
          <div class="content">
            <div class="user-info-container" style="margin-bottom: 40px;">
              <h5>Enter offer information</h5>
              <div class="inputs">
                <mat-form-field appearance="outline">
                  <mat-label>Location</mat-label>
                  <input matInput [(ngModel)]="filter.location" name="location" placeholder="Location">
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Start date/time (UTC)</mat-label>
                  <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" name="startDate" placeholder="Start date/time (UTC)">
                  <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #startDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>End date/time (UTC)</mat-label>
                  <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate" name="endDate" placeholder="End date/time (UTC)">
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                </mat-form-field>
                <mat-form-field appearance="outline">
                  <mat-label>Guest number</mat-label>
                  <input matInput [(ngModel)]="filter.guest_number" name="guestNumber" placeholder="Guest number">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="CreateOffer()" style="margin-top: 65px; float: right; width: 70px; height: 40px;">Save</button>
              </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>