// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$work-sans-typography: mat.define-typography-config(
    $font-family: 'Work Sans',
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TransportWebClient-primary: mat.define-palette(mat.$indigo-palette);
$TransportWebClient-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TransportWebClient-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TransportWebClient-theme: mat.define-light-theme((
  color: (
    primary: $TransportWebClient-primary,
    accent: $TransportWebClient-accent,
    warn: $TransportWebClient-warn,
  ),
  typography: $work-sans-typography,
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TransportWebClient-theme);
/* You can add global styles to this file, and also import other style files */

@import 'ngx-toastr/toastr';

html{
  width: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: "Work Sans", sans-serif; }

:root{
  --bg-color: #A9907E;
  --secondary-bg-color: #F3DEBA;
  --primary-color: #675D50;
  --accent-color: #ABC4AA;
  --primary-text-color: #675D50;
}

