<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Fifth navbar example">
  <div class="container-fluid">
      <img class="me-2" src="../../../assets/plane-image.png" alt="" width="40">
      <a class="navbar-brand" href="">Ticketing Service</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse" id="navbarsExample05">
          <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/flights">Flights</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/create-flight">Create flights</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="" (click)="logout()">Logout</a>
            </li>
          </ul>
      </div>
  </div>
</nav>
<div>        
    <div style="text-align: center;">
        <h2 >Create flight</h2>
    </div>
    <mat-grid-list cols="1" rowHeight="10px" style="text-align: center;">
      <div class="container mt-5">
          <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
            <mat-label>Departure location</mat-label>
            <input matInput placeholder="Departure location" [(ngModel)]="flight.DepartureLocation" required>
          </mat-form-field>
        </div>
  
        <div class="container mt-5">
          <mat-form-field appearance="fill">
            <mat-label>Destination location</mat-label>
            <input matInput placeholder="Destination location" [(ngModel)]="flight.DestinationLocation" required>
          </mat-form-field>
        </div>
        
       
      <div class="container mt-5">
          <mat-form-field appearance="fill"  [floatLabel]="getFloatLabelValue()">
            <mat-label>Flight start</mat-label>
            <input matInput [matDatepicker]="picker1" [(ngModel)]="dateStart">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="container mt-5">
          <mat-form-field appearance="fill" style="width: 125px;">
            <input matInput placeholder="HH" [(ngModel)]="hourStart" required>
            
          </mat-form-field>
          :
          <mat-form-field appearance="fill" style="width: 125px;">
            <input matInput placeholder="MM" [(ngModel)]="minuteStart" required>
          </mat-form-field>
        </div>
        <div class="container mt-5">
          <mat-form-field appearance="fill"  [floatLabel]="getFloatLabelValue()">
            <mat-label>Flight end</mat-label>
            <input matInput [matDatepicker]="picker2" [(ngModel)]="dateEnd">
            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="container mt-5">
          <mat-form-field appearance="fill" style="width: 125px;">
            <input matInput placeholder="HH" [(ngModel)]="hourEnd" required>
            
          </mat-form-field>
          :
          <mat-form-field appearance="fill" style="width: 125px;">
            <input matInput placeholder="MM" [(ngModel)]="minuteEnd" required>
          </mat-form-field>
        </div>
        <div class="container mt-5">
            <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
              <mat-label>Ticket price</mat-label>
              <input matInput type="number" placeholder="Flight end" [(ngModel)]="flight.PriceOfTicket" required>
              <span matSuffix>$</span>
            </mat-form-field>
          </div>
        
          <div class="container mt-5">
            <mat-form-field appearance="fill" [floatLabel]="getFloatLabelValue()">
              <mat-label>Number of tickets</mat-label>
              <input matInput type="number" placeholder="Flight end" [(ngModel)]="flight.MaxNumberOfTickets" required>
            </mat-form-field>
          </div>
        <div >
          <button class="registerButton"  mat-raised-button matTooltip="Register" color="primary" id ="button" (click)="create()" >Create</button>
      
      </div>
  
    </mat-grid-list>

    
</div>