<div class="content">
    <div class="tabs">
      <mat-tab-group [selectedIndex]="0" class="remove-border-bottom">
        <mat-tab>
            <div class="content">
              <div class="user-info-container" style="margin-bottom: 40px;">
                <h5>Enter accommodation informations</h5>
                <div class="inputs">
                  <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="newAccommodation.name" name="name" placeholder="Name">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Location</mat-label>
                    <input matInput [(ngModel)]="newAccommodation.location" name="location" placeholder="Location">
                  </mat-form-field>
                  <mat-checkbox [(ngModel)]="newAccommodation.wifi" name="wifi">Wifi</mat-checkbox>
                  <mat-checkbox [(ngModel)]="newAccommodation.kitchen" name="kitchen">Kitchen</mat-checkbox>
                  <mat-checkbox [(ngModel)]="newAccommodation.air_conditioner" name="airConditioner">Air conditioner</mat-checkbox>
                  <mat-checkbox [(ngModel)]="newAccommodation.parking" name="parking">Parking</mat-checkbox>
                  <mat-form-field appearance="outline">
                    <mat-label>Minimum number of guests</mat-label>
                    <input matInput [(ngModel)]="newAccommodation.min_number_of_guests" name="minNumberOfGuest" placeholder="Minimum number of guests">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Maximum number of guests</mat-label>
                    <input matInput [(ngModel)]="newAccommodation.max_number_of_guests" name="maxNumberOfGuest" placeholder="Maximum number of guests">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Images (separated by commas)</mat-label>
                    <input matInput [(ngModel)]="temp" name="images" placeholder="Images">
                  </mat-form-field>
                    <button mat-raised-button color="primary" (click)="CreateAccommodation()" style="margin-top: 65px; float: right; width: 70px; height: 40px;">Save</button>
                </div>
              </div>
            </div>
          </mat-tab>
          </mat-tab-group>
          </div>
          </div>
