<div class="content">
    <div>
        <div class="inputs">
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input [(ngModel)]="this.changeUsernameRequest.username" matInput placeholder="Username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your new Username</mat-label>
                <input [(ngModel)]="this.changeUsernameRequest.newUsername" matInput placeholder="New Username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input [(ngModel)]="this.changeUsernameRequest.password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button mat-raised-button color="primary" (click)="ChangeUsername()" >Save</button>
        </div>
    </div>
</div>