
<div class="content">
    <div class="buttons">
        <div class="button-enclosure">
            <button class="button" routerLink="/create-accommodation" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Create Accommodation
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/create-accommodation-offer" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Create Accommodation Offer
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/update-accommodation-offer" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Update Accommodation Offer
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/filter-accommodation-offers" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Filter Accommodation Offers
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/cancel-reservation" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Cancel made reservation
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/rating-dashboard" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Rate Accommodation or Host
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/pending-host-reservation" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Pending Host Reservations
            </button>
        </div>
    </div>
</div>