
<div class="content">
    <div class="buttons">
        <div class="button-enclosure">
            <button class="button" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Company Management
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/employee-dashboard" mat-raised-button>
                <span class="material-icons icon-color">diversity_3</span>
                Employee Management
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" mat-raised-button>
                <span class="material-icons icon-color">local_shipping</span>
                Vehicle Management
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/create-accommodation" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Create Accommodation
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/create-accommodation-offer" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Create Accommodation Offer
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/filter-offers" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Filter Accommodation Offers
            </button>
        </div>
        <div class="button-enclosure">
            <button class="button" routerLink="/cancel-reservation" mat-raised-button>
                <span class="material-icons icon-color">apartment</span>
                Cancel made reservation
            </button>
        </div>
    </div>
</div>