.container {
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    box-shadow: 4px 4px 4px rgba(78, 78, 78, 0.5);
}

.mat-mdc-table {
    height: inherit !important;
    border-radius: inherit;
    overflow: hidden !important;
    background: inherit;
}

tr.mat-mdc-row:hover {
    cursor: pointer !important;
    background-color: var(--accent-color) !important;
    transition: 0.5s;
}

.mat-mdc-paginator {
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    background-color: inherit;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
}

::ng-deep {
    .mat-mdc-progress-spinner {
        --mdc-circular-progress-active-indicator-color: var(--accent-color) !important;
    }
}
